body {
    background: rgb(2,0,36) url('./assets/resources/bg.gif') linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(105,29,101,1) 0%, rgba(43,43,166,1) 43%, rgba(0,106,128,1) 100%);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: lighten;
}

#float {
    width: 100%;
    height: 80px;
    background: #001b2d url("./assets/resources/logobg.gif"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    border-top: 3px solid #006cff;
    border-bottom: 5px solid #006cff;
    align-items: flex-start;
    background-blend-mode: lighten;
}

#content {
    margin-top: 10px;
}

#logoimg {
   height: 50px;
   margin-top: 15px;
   margin-left: 10px;
   mix-blend-mode: lighten;
   }
#page {
   float: right;
   height: 40px;
   margin-top: 20px;
   margin-right: 10px;
}

#home {
   margin-right: 10px;
}

#sub {
   margin-top: 150px;
   text-align: center;
   color: cyan;
   font-size: 2rem;
}
#buttons {
   text-align: center;
}

button {
   color: cyan;
   background-color: #002b65;
   border-color: #0081ff;
   border-radius: 30px;
   border-width: 10px;
   font-size: 2rem;
   height: 100px;
   width: 300px;
   margin: 10px;
   background-image: url('./assets/resources/buttonbg.gif');
   background-blend-mode: lighten;
   background-size: cover;
}

#button-wi {
   color: cyan;
   background-color: #002b65;
   border-color: #ff000a;
   border-radius: 30px;
   border-width: 10px;
   font-size: 2rem;
   height: 100px;
   width: 300px;
   margin: 10px;
   background-image: url('./assets/resources/buttonbg.gif');
   background-blend-mode: lighten;
   background-size: cover;
}

#button-bte {
   color: cyan;
   background-color: #002b65;
   border-color: #26ff00;
   border-radius: 30px;
   border-width: 10px;
   font-size: 2rem;
   height: 100px;
   width: 300px;
   margin: 10px;
   background-image: url('./assets/resources/buttonbg.gif');
   background-blend-mode: lighten;
   background-size: cover;
}


#info-button {
   color: cyan;
   background-color: #002b65;
   border-color: #ff9d00;
   border-radius: 30px;
   border-width: 10px;
   font-size: 1.5rem;
   height: 100px;
   width: 300px;
   margin: 10px;
   background-image: url('./assets/resources/buttonbg.gif');
   background-blend-mode: lighten;
   background-size: cover;
}

#button-spcl {
    color: cyan;
    background-color: #002b65;
    background-image: url('./assets/resources/buttonbg.gif');
    background-blend-mode: lighten;
    background-size: cover;
    border-radius: 30px;
    border-width: 10px;
    font-size: 2rem;
    height: 100px;
    width: 300px;
    margin: 20px;
    font-size: 3rem;
    animation: borderAnimation 5s infinite;
}
@keyframes borderAnimation {
    0% { box-shadow: 0 0 10px rgb(255, 0, 0); }
    25% { box-shadow: 0 0 10px rgb(0, 255, 0); }
    50% { box-shadow: 0 0 10px rgb(0, 0, 255); }
    75% { box-shadow: 0 0 10px rgb(255, 255, 0); }
    100% { box-shadow: 0 0 10px rgb(255, 0, 255); }
}

#but-spcl {
   background: #0065c8a2;
   border-radius: 10px;
   height: 300px;
   color: cyan;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 20px;
   margin-top: 30px;
}

#wthq {
   color: cyan;
   text-align: center;
   margin-top: 30px;
   
}

#ver {
  position: absolute;
  bottom: 0;
  color: cyan;
  font-size: 30px;
}

.info {
   background: #00355ad4;
   border-radius: 2px;
   padding-top: 50px;
   padding-bottom: 50px;
   margin: 10px;
}

#pass {
   background: #001641df;
   border-radius: 20px;
   position: absolute;
   top: 50%;   
   left: 50%;
   transform: translate(-50%, -50%);
   height: 100%;
   width: 100%;
   backdrop-filter: blur(5px);
}

#icon {
   background: url('./assets/resources/bg.gif');
   height: 100px;
   width: 100px;
   border-radius: 100px;
   background-blend-mode: lighten;
}

#button-run {
   color: cyan;
   background-color: #002b65;
   border-color: #ff000a;
   border-radius: 10px;
   border-width: 10px;
   font-size: 1rem;
   height: 50px;
   width: 100px;
   margin: 10px;
   background-image: url('./assets/resources/buttonbg.gif');
   background-blend-mode: lighten;
   background-size: cover;
    }
    
